.product-container {
    position: relative;
    overflow: hidden;
  }
  
  .product-link {
    display: block;
  }
  
  .product-image {
    width: 100%;
    height: 380px;
    transition: transform 0.3s ease;
  }
  
  .add-to-cart-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: transform 0.3s ease;
    width:100%;
    height: 47px;
    border:none;
    background-color: black;
    color:white;

  }
   .product-container:hover .add-to-cart-button {
    transform: translate(-50%, 0);
  } 
  .favorite{
    position: absolute;
    bottom: 0px;
    top:20px;
  }
  .status{
    position: absolute;
    background-color: black;
    color:white;
    top:20px;
    left:210px;
  }
.product-offers:hover{
 color: lightslategray;
}
.details:hover{
  color:aquamarine;
}
.sizeofbox{
  width:62px;
  border:none;
  border-radius: 10px;
  padding: 5px;
 font-size: medium;
 }
 ::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-track {
  background-color: cadetblue; /* color of the track */
}

::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-thumb {
  background-color: darkblue; /* color of the scrollbar */
}

::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-thumb:hover {
  background-color: lightgoldenrodyellow; /* color of the scrollbar on hover */
}
