nav div{
    margin-bottom: 20px;
    padding: 5px;
    width:65px;
    height:65px
}
nav{
    width:85px;
    padding:10px;
    overflow: auto;
}
nav div:hover{
    cursor:grab;
    border:2px solid blue;
}
.zoom-image {
    transition: transform 0.7s ease;
  }
  
.zoom-image:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
  }
.cartbtn{
 border: 2px solid #f0f0f0;
 background-color:white;
 width:400px;
 height:50px;
 position: relative; /* Required for absolute positioning */
 overflow: hidden; /* Hide overflowing content */
}
.cartbtn::before {
    content: "Add To Cart";
    position: absolute;
    top: 0;
    left: -100%; /* Initially off-screen to the left */
    width: 100%;
    height: 100%;   
    color:white; /* Change text color */
    font-size: 16px; /* Adjust font size */
    padding: 10px; /* Adjust padding */
    line-height: 30px; /* Adjust line height */
    text-align: center;
    background-color:midnightblue;
    transition: left 0.4s ease; /* Transition for left property */
}

.cartbtn:hover::before {
    left: 0; /* Slide in from left when hovered */
}
.cartbtnback{
 border: 2px solid #f0f0f0;
 background-color:white;
 width:400px;
 height:50px;
 position: relative; /* Make position relative for absolute positioning */
 overflow: hidden; /* Hide overflow content */
}
.cartbtnback::before {
    content: 'Go Back';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color:white; /* Change text color */
    font-size: 16px; /* Adjust font size */
    padding: 10px; /* Adjust padding */
    line-height: 30px; /* Adjust line height */
    text-align: center;
    background-color:hsl(195, 41%, 33%);
    transition: bottom 0.3s ease;
  }
.cartbtnback:hover::before {
    bottom: 0;
  }
.buynowbtn{
    border: 2px solid #f0f0f0;
    background-color: white;
    width: 400px;
    height: 50px;
    position: relative; /* Make position relative for absolute positioning */
    overflow: hidden; /* Hide overflow content */
}
.buynowbtn:before {
    content: 'Buy Now'; /* Create a pseudo-element for the hover effect */
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%; /* Set width to double the button width */
    height: 100%;
    color:white; /* Change text color */
    font-size: 16px; /* Adjust font size */
    padding: 10px; /* Adjust padding */
    line-height: 30px; /* Adjust line height */
    text-align: center;
    background-color:maroon;
    transition: right 0.4s ease; /* Add transition for right positioning */
}
.buynowbtn:hover:before {
    right: 0; /* Move the background color from right to left on hover */
}
.bg{
    background-color:mintcream;
}
.fade-background {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    transition: background-color 0.3s ease-in-out; /* Add a transition effect */
  }
.heading {
    border-radius: 5px;
    font-size: 22px;
    background-color: darkblue;
    color:antiquewhite;
    width:100%
}
input{
    width:300px
}
.vertical-line {
    border-left: 4px solid antiquewhite;
    margin-left: 28%;
}
.ms1{
    margin-left: 35px;
}
.ms2{
    margin-left: 9px;
}
.ms3{
    margin-left: 50px;
}
.ms4{
    margin-left: 30px;
}
.ms5{
    margin-left: 36px;
}
.ms6{
    margin-left: 18px;
}
.ms7{
    margin-left: 60px;
}
.ms8{
    margin-left: 30px;
}
.scroll-container {
    max-height:100%; /* Adjust the maximum height as needed */
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #FF4500 /* Color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Border radius of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
  }
  .itemqty{
  border: 2px solid #f0f0f0;
    width:25%;
    height:55px
  }
.small-input{
    width:20%;
     border: none;
}
.small-input:focus{
    outline: none;
}
.product-container {
    position: relative;
    overflow: hidden;
  }
  
  .product-link {
    display: block;
  }
  
  .product-image {
    width: 100%;
    height: 380px;
    transition: transform 0.3s ease;
  }
  
  .favorite{
    position: absolute;
    bottom: 0px;
    top:20px;
  }
  .status{
    position: absolute;
    background-color: black;
    color:white;
    top:20px;
    left:220px;
  }

