
.products{
 width: 150px;
 height: 155px;
 border-radius: 15px;
 background-color:blanchedalmond;
 color:#555;
 z-index:232px;
}
.product-name{
    margin-top:32px;
    font-style: italic;
    font-weight: bold;
}
.cart{
 width: 150px;
 height: 155px;
 border-radius: 15px;
 background-color:thistle;
 color:#000080 

}
.cart-name{
    margin-top:32px;  
    font-style: oblique;
    font-weight: bold;
}
.categories{
    width: 150px;
    height: 155px;
    border-radius: 10px;
    background-color:darkkhaki;
}
.category-name{
    margin-top:32px;  
    font-style:italic;
    font-weight: bold;
}
.Orders{
    width: 150px;
    height: 155px;
    border-radius: 10px;
    background-color: #000080;
    box-shadow: 0px 0px 855px 555px rgba(0, 0, 0, 0.2);
}
.order-name{
    margin-top:32px;   
    font-style:italic;
    font-weight: bold;
}
.stock{
    width: 150px;
    height: 155px;
    border-radius: 10px;
    background-color:#D2691E; 
    
}
.stock-name{
    margin-top:32px; 
    font-style:italic;
    font-weight: bold;
}
.stockheading{
    padding: 8px;
    background-color:darkblue;
    color:white;
    border-radius: 1px;
}
.stockheading:hover{
  background-color:darkslateblue;
}
.ordersheading{
    padding: 8px;
    background-color:darkred;
    color:white;
    border-radius: 1px;
}
.ordersheading:hover{
    background-color: #800080;
}
.table-wrapper {
    overflow-x: auto; /* Enable horizontal scrollbar */
    max-height: 300px; /* Set maximum height for vertical scrollbar */
  }
  
  /* Style the scrollbar */
  .table-wrapper::-webkit-scrollbar {
    width: 10px;
  }
  
  .table-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .table-wrapper::-webkit-scrollbar-thumb {
    background-color:darkkhaki;
    border-radius: 5px;
  }
  
  .table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
